<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <context-param>
        <description>Tema por defecto</description>
        <param-name>temaDefecto</param-name>
        <param-value>azul</param-value>
    </context-param>
    <servlet>
        <servlet-name>GestionarProductos</servlet-name>
        <servlet-class>servlets.GestionarProductos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Autenticacion</servlet-name>
        <servlet-class>servlets.Autenticacion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CambiarColorTema</servlet-name>
        <servlet-class>servlets.CambiarColorTema</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Desconectar</servlet-name>
        <servlet-class>servlets.Desconectar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Comprar</servlet-name>
        <servlet-class>servlets.Comprar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VaciarCarrito</servlet-name>
        <servlet-class>servlets.VaciarCarrito</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FinalizarCompra</servlet-name>
        <servlet-class>servlets.FinalizarCompra</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Eliminar</servlet-name>
        <servlet-class>servlets.Eliminar</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GestionarProductos</servlet-name>
        <url-pattern>*.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Autenticacion</servlet-name>
        <url-pattern>/Autenticacion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CambiarColorTema</servlet-name>
        <url-pattern>/CambiarColorTema</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Desconectar</servlet-name>
        <url-pattern>/Desconectar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Comprar</servlet-name>
        <url-pattern>/Comprar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VaciarCarrito</servlet-name>
        <url-pattern>/VaciarCarrito</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FinalizarCompra</servlet-name>
        <url-pattern>/FinalizarCompra</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Eliminar</servlet-name>
        <url-pattern>/Eliminar</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
    
    <filter>
        <filter-name>UrlRewriteFilter</filter-name>
        <filter-class>org.tuckey.web.filters.urlrewrite.UrlRewriteFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>UrlRewriteFilter</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>    
    
</web-app>
